@charset "utf-8";
/* CSS Document */

.centralizar{
			width:auto;
			height:auto;
			margin:auto;
	}
.info{
		position:relative;
		float:left;
		width: 50%; min-width: 640px;
		height: auto;
		background-color: rgba(220,169,95,1.00) ;
		margin: auto;
	}
.baners{ 	width:100%;
			height:auto;
			position:relative;
			float:left;
			background-color:rgba(237,204,167,1.00);
		}
.baners{
			width: 100%;
			height: auto;
			background-color: #ce984a;
			margin-top: 10px;
			margin-bottom: 10px;
}
#baner1,#baner2{
			width:40%; min-width: 200px;
			height:auto; min-height: 180px;
			position: relative;
			border: solid 10px black;
			background-color: rgba(213,202,163,1.00);
			font-family: Tahoma, Geneva, sans-serif;
			text-align: center;
			margin: 15px 3.3%;
			float:left;
}

#baner3,#baner4,#baner5,#baner6 {
			width:20%; min-width: 200px;
			height:auto; min-height: 180px;
			position: relative;
			border: solid 10px black;
			background-color: rgba(213,202,163,1.00);
			font-family: Tahoma, Geneva, sans-serif;
			text-align: center;
			margin: 15px 1.7%;
			float:left;
}
input#search {
			width: 100%;
}
