@charset "utf-8";
/* CSS Document */
.Contaner_messager{
    width: 100%;
    height: 500px;
}

.Contaner_friends{
    background-color: #dbc44c;
    width: 25%;
    height: auto;
}

.messager{
    background-color: #af9c3c;
    width: 75%;
    height: auto;
    }